<!DOCTYPE html>
<html>
<head>
    <title>User Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container navbar-nav">
    <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
    <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
    <li><a class="navbar-link" href="{% url 'basicapp:register' %}">Register</a></li>

    {% if user.is_authenticated %}

    <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
    <li><a class="navbar-link" href="{% url 'special' %}">Special</a></li>
    {% else %}
    <li><a class="navbar-link" href="{% url 'basicapp:user_login' %}">Login</a></li>

    {% endif %}

</div>
</nav>
<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
</body>
</html>