<!DOCTYPE html>
{% extends 'basicapp/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron">
    {% if registered %}
    <h1>Thanks for registeration</h1>
    {% else %}
    <h1>Register Here!</h1>
    <h3>Fill out the Form:</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register">

    </form>
        {% endif %}
</div>
{% endblock %}